<div class="container">
<h2>Showing All Secrets</h2>
<table class="table">
<thead>
  <tr>
    <th>Secret ID</th>
    <th>Secret Content</th>
    <th>User Name</th>
    <th>Likes</th>
  </tr>
</thead>

<tbody>
  <% @allsecrets.each do |secret| %>

  <tr>
    <td><%=secret[:id]%></td>
    <td><%=secret['content']%></td>
    <td><%=secret.user.fname%></td>
    <td><%=secret.likes.count%></td>


    <td>
      <% if @userlikes.exists?(:secret_id => secret.id) == false %>
      <a href="/like/<%=secret.id%>">Like</a>
      <% end %>

      <% if @userlikes.exists?(:secret_id => secret.id) == true  %>
      <a href="/unlike/<%=secret.id%>">Unlike</a>
      <% end %>
      |
      <% if @user == false %>
      <a href="/delete/<%=secret.id%>">Delete</a>
      <% end %>
    </td>
  </tr>

  <% end %>
</tbody>
</table>
<br>
<br>
<a href="/">Create a New User</a> | <a href="/logout">Logout</a> | <a href="/users">All Users</a>
</div>
