<style>
  .activitiesblock{
    border:2px solid black;
    height: 400px;
    overflow: scroll;
  }
  .container{
    display: inline;
    height: 700px;
  }
  .place{
    width: 250px;
    height: 200px;
    display: inline-block;
  }

</style>


<h1>Your Gold: <%= session[:total_gold] %></h1>
<div class="container">

<div class="row">
  <div class="place">
  <h3>Farm</h3>
  <p>(Earns 10-20 gold!)
    <form action="/farm" method="post">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <input type="submit" name="farm" value="Find Gold!">
    </form>
  </div>

  <div class="place">
  <h3>Cave</h3>
  <p>(Earns 5-10 gold!)
    <form action="/cave" method="post">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <input type="submit" name="farm" value="Find Gold!">
    </form>
  </div>

  <div class="place">
  <h3>House</h3>
  <p>(Earns 2-5 gold!)
    <form action="/house" method="post">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <input type="submit" name="farm" value="Find Gold!">
    </form>
  </div>

    <div class="place">
    <h3>Casino</h3>
  <p>(Earns/takes 0-50 gold!)
    <form action="/casino" method="post">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <input type="submit" name="farm" value="Find Gold!">
    </form>
  </div>

<h3>Activities</h3>

  <div class="activitiesblock">
    <% for a in session[:activities] %>
      <p style= "color:green"> <%= a%> </p>
    <%end%>
  </div>
</div>

</div>
